<a href="#" data-complete-text="{{ settings.complete }}" data-incomplete-text="{{ settings.completed }}" data-post-completion-toggle="{{ post.completed? }}" data-token="{{ post.completion_token }}" class="btn" kjb-settings-id="{{ complete }}">
  {% if post.completed? %}
    {{ settings.completed }}
  {% else %}
    {{ settings.complete }}
  {% endif %}
</a>
<a href="#" data-favorite-toggle="true" data-favorited="{{ post.favorited? }}" data-favorite-token="{{ post.favorite_token }}" class="btn" kjb-settings-id="{{ favorite }}">
    {{ settings.favorite }}
</a>
