{% if post.downloads.count > 0 %}
  <h2 kjb-settings-id="{{ downloads }}">{{ settings.downloads }} ({{ post.downloads.count }})</h2>
  {% for download in post.downloads %}
    <a href="{{ download.url }}">{{ download.display_name }}</a><br />
  {% endfor %}
{% endif %}
