{% for download in post.downloads %}
  {% if download.extension == '.mp3' %}
    <div style="display:none;">{% increment audio_count %}</div>
  {% endif %}
{% endfor %}
{% if audio_count > 0 %}
  <style>
    .audiojs .play-pause { width: 40px;}
    .audiojs .play { background: url({{ 'player-graphics.gif' | asset_url }}) -2px -1px no-repeat; }
    .audiojs .pause { background: url({{ 'player-graphics.gif' | asset_url }}) -2px -91px no-repeat; }
    .audiojs .loading { background: url({{ 'player-graphics.gif' | asset_url }}) -2px -31px no-repeat; }
    .audiojs .error { background: url({{ 'player-graphics.gif' | asset_url }}) -2px -61px no-repeat; }
  </style>
  <div class="section">
    <div class="container-sm">
      <div class="audio">
        <audio preload="auto"></audio>
        <ol>
          {% for download in post.downloads %}
            {% if download.extension == '.mp3' %}
              <li><a href="#" data-src="{{ download.url }}">{{ download.display_name }}</a></li>
            {% endif %}
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
{% endif %}
